@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) and (max-width: 1024px) {
  .custom-margin-768 {
    margin-top: 200px;
    margin-left: 214px;
    margin-right: 214px;
    margin-bottom: 591px;
  }
}

@media (min-width: 375px) and (max-width: 812px) {
  .custom-margin-375 {
    margin-top: 200px;
    margin-left: 17.5px;
    margin-right: 17.5px;
    margin-bottom: 379px;
  }
}

@media (min-width: 1024px) {
  .custom-margin-default {
    margin-top: 200px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #F9FAFB, #D2D6DB);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
}
